<div class="wrapper">
  <div class="start full-size">
    <div class="logo">
      <img src="assets/img/logo.png" alt="GoldenDays logo">
    </div>
  </div>

  <div class="first full-size">
    <div class="content flex">
      <div class="logo-min-container">
                <img src="assets/img/logo-sun.png" alt="logo min">
      </div>
      <div class="text-container golden-title">
        Film is not Dead
      </div>
    </div>
    <div class="content flex">
      <img class="carrusel" src="assets/img/oldPeople.jpg" alt="viejitos">
    </div>
  </div>


<!--  <div class="my-work full-size"></div>-->

<!--  <div class="about full-size"></div>-->

</div>
